.active {
  font-weight: 500;
}

.navbar {
  background-color: #fff !important;
  border-radius: 10px;
  border: 6px solid var(--blue);
}

.navbarBrand {
  font-weight: bold;
  color: #158e4d;
}

.navLink {
  color: #0c5f93;
}
